<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>IoT Door Lock System</title>
    
  </head>

  <body>
    <span style="font-size:50px">correct</span>
    <form action="/log" method="post">
      <input type="submit" value="Log" name="input" style="height: 100px;width: 200px;font-size:20px;"/>
    </form>
  </body>
</html>